<p>
<table>
<thead>String to exclude</thead>
  <tr>
    <td class='label label-info'>
      ID <%= @url_exclusion.id %>
    </td>
    <td><%= @url_exclusion.url_substring %></td>
    <td><%= link_to 'Edit', edit_url_exclusion_path(@url_exclusion), class: 'btn btn-sm btn-default' %></td>
  </tr>
</table>
