<% content_for :javascript_includes do %>
  <%= javascript_include_tag "digital_bookplates_batches.js" %>
<% end %>
<h1>Digital Bookplates Batches in Queue</h1>

<%= render 'batches' %>

<div class="btn-group">
  <%= main_menu_button %>
  <%= digital_bookplates_menu_button %>
</div>
