language: ruby
sudo: false
rvm:
  - 2.6.3
cache:
  - bundler
  - directories
    - '/home/travis/.rvm/'
bundler_args: --without production
before_install:
  - sudo wget http://www.freetds.org/files/stable/freetds-1.1.6.tar.gz
  - sudo tar -xzf freetds-1.1.6.tar.gz
  - cd freetds-1.1.6
  - sudo ./configure --prefix=/usr/local --with-tdsver=7.3
  - sudo make
  - sudo make install
  - cd ..
before_script:
  - mkdir -p tmp/Dataload/EndowRpt
  - mkdir -p tmp/Dataload/BookplateMerge/Batches/Queue
  - mkdir -p tmp/Dataload/UserloadRerun
  - mkdir -p tmp/Dataload/ILLiadUserExport
  - mkdir -p tmp/Libsys_webforms/sal3_batch_requests_batch/bc_file
script:
  - bundle exec rake db:test:prepare
  - bundle exec rake db:seed
  - bundle exec rake spec
