<div class="home-page-section">
  <h1>Accession Number Generator</h1>
  <p>Get accession numbers to assign to material in FOLIO. See <a href="https://consul.stanford.edu/x/eaNuCQ">Call numbers--Non-print materials</a> for more information.</p>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a>
          Get accession numbers by resource type
        </a>
        </h4>
      </div>  
      <div>
        <div class="panel-body">
        <% @resource_types.each do |x| %>
          <li><%= link_to x.resource_type, by_resource_type_url(:resource_type => x.resource_type) %></li>
          <% end %>
          </div>
        </div> 
      </div> 
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a>
            Get accession numbers by location
          </a>
        </h4>
      </div>
      <div>
        <div class="panel-body">
          <% @locations.each do |loc| %>
            <li><%= link_to loc.location, by_location_url(:location => loc.location) %></li>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a>
            List accession numbers
          </a>
        </h4>
      </div>
      <div>
        <div class="panel-body">
          <li><%= link_to "Accession number table", accession_numbers_path %></li>
        </div>
      </div>
    </div>
  </div>
</div>
