<div id="edi-errors-links" class="panel-body">
  <li><%= link_to "Show only fatal errors", "#{edi_error_reports_path}?level=fatal" %></li>
  <li><%= link_to "Show only notify errors", "#{edi_error_reports_path}?level=notify" %></li>
  <li><%= link_to "Show only 'EDI_QUIT_ITEM.do_removes'", "#{edi_error_reports_path}?type=EDI_QUIT_ITEM.do_removes" %></li>
</div>
