<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="excludeInvoice">Exclude an invoice</h3>
</div>
<div class="modal-body">
  <div class="div-table">
    <div class="div-table-body">
      <div class="div-table-row">
        <div class="div-table-cell">

        </div>
        <div class="div-table-cell">

        </div>
      </div>
    </div>
    <div class="btn-group">

      <button class='btn btn-md btn-default btn-full' data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>
</div>
