<h4>Call number range examples for LC Letters Range:</h4>
<div>
  <table class='table table-bordered'>
    <tbody>
      <tr>
        <td>H</td>
        <td></td>
        <td>selects all LC call numbers starting with H (including HA, HB, etc.)</td>
      </tr>
      <tr>
        <td>H#</td>
        <td></td>
        <td>selects all LC call numbers starting with H followed by digit or cutter, <strong>not</strong> HA, HB, etc. (<em>Same as Classic Selection H 0 9999 below</em>)</td>
      </tr>
      <tr>
        <td>H</td>
        <td>K</td>
        <td>selects all LC call numbers starting with H, I, J or K</td>
      </tr>
      <tr>
        <td>HB</td>
        <td></td>
        <td>selects all LC call numbers starting with HB (<em>Same as Classic Selection HB 0 9999 below</em>)</td>
      </tr>
      <tr>
        <td>HB</td>
        <td>HD</td>
        <td>selects all LC call numbers starting with HB, HC or HD</td>
      </tr>
      <tr>
        <td>A</td>
        <td>Z</td>
        <td>selects all LC call numbers</td>
      </tr>
      <tr>
        <td class='text-danger'>H#</td>
        <td class='text-danger'>HC</td>
        <td class='text-danger'>NOT ALLOWED. With # used in first input field, second field must be empty.</td>
      </tr>
      <tr>
        <td class='text-danger'>HB</td>
        <td class='text-danger'>JA</td>
        <td class='text-danger'>NOT ALLOWED. With 2 letters in each input field, both fields must have the same first letter.</td>
      </tr>
      <tr>
        <td class='text-danger'>H</td>
        <td class='text-danger'>HD</td>
        <td class='text-danger'>NOT ALLOWED. Can't have one letter in one field and two letters in the other field.</td>
      </tr>
    </tbody>
  </table>
  <h4>Call number range examples for Classic Selection: </h4>
  <div>
    <table class='table table-bordered'>
      <tbody>
        <tr>
          <td>H</td>
          <td>0</td>
          <td>9999</td>
          <td>selects all LC call numbers starting with H followed by digit or cutter (<em>Does NOT include call starting HA, HB, etc</em>)</td>
        </tr>
        <tr>
          <td>HB</td>
          <td>120</td>
          <td>2000</td>
          <td>selects all LC call numbers from HB120 to HB2000.9999</td>
        </tr>
        <tr>
          <td>HB</td>
          <td>0</td>
          <td>9999</td>
          <td>selects all LC call numbers starting with HB (<em>Same as LC Letters Range HB above</em>)</td>
        </tr>
        <tr>
          <td></td>
          <td>382</td>
          <td>499</td>
          <td>selects all Dewey call numbers from 382 to 499.9999</td>
        </tr>
        <tr>
          <td></td>
          <td>0</td>
          <td>999</td>
          <td>selects all Dewey call numbers</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>HB to HC is not possible with Classic Selection. Use LC Letters Range for selections like that.</div>
