<div class='form-group row'>
  <%= f.label :fmt_array, 'Select the formats to include:', class: 'col-sm-10 form-control-label' %>
  <div class='col-sm-10'>
    <%= f.select :fmt_array, CirculationStatisticsReportFormat.formats, { selected: 'All Formats' }, { multiple: true, class: 'form-control' } %>
  </div>
</div>
