<div class='form-group row'>
    <%= f.label :email, 'Email for notification when the report is ready:', class: 'col-sm-4 form-control-label' %>
  <div class='col-sm-8'>
    <%= f.text_field 'email', class: 'form-control' %>
  </div>
</div>
