<div class ='nav-buttons'>
  <ul class='nav nav-pills'>
    <li role="presentation"><%= link_to 'Add package', new_package_path, class: 'btn btn-md btn-default btn-full' %></li>
    <li role="presentation"><%= link_to 'View packages', root_path, class: 'btn btn-md btn-default btn-full' %></li>
    <li role="presentation"><%= link_to 'Exclude Url List', url_exclusions_path, class: 'btn btn-md btn-default btn-full' %></li>
  </ul>
</div>
