<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
    <%= content_tag :span, 'Stanford University Libraries', class: 'sr-only' %>
    <%= image_tag 'StanfordLibraries-logo-cmyk.png', alt: '', height: 25 %>
    <% end %>

  </header>
</div>

<div class="topnav-divider">
</div>

<% if restrict_to_development_or_test? %>
  <div class='topnav-below-divider'>
    <h4>Test system</h4>
  </div>
<% end %>
