<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="excludeInvoice">Exclude an invoice</h3>
</div>
<div class="modal-body">
  <%= form_tag({controller: 'edi_lins', action: 'index'}, method: 'get') do %>
    <div class="div-table">
      <div class="div-table-body">
        <div class="div-table-row">
          <div class="div-table-cell">
            Enter an barcode number
          </div>
        </div>
        <div class="div-table-row">
          <div class="div-table-cell">
            <%= text_field_tag 'barcode_num' %>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button class='btn btn-md btn-default btn-full' data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
      &nbsp;
      <div class="btn-group">
        <%= submit_tag 'Next', class: 'btn btn-md btn-primary btn-full' %>
      </div>
    </div>
  <% end %>
</div>
