<div class="home-page-section">
  <h1>SUL Staff Web Forms</h1>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4><%= link_to 'Accession number generator', 'accession_number_updates' %></h4>
    </div>
  </div>
</div>
