.panel-group {
  line-height: 1.9em;
  list-style-type: none;
}

.panel-body {
  margin-left: 20px;
}

a {
  color: $sul-topnavbar-link-color;
}

.indent {
  font-weight: normal !important;
  margin-left: 30px;
}

.indent2 {
  margin-left: 205px;
}

.pad {
  padding-top: 20px;
}

.table-container {
  border: 1px solid;
  height: 400px;
  overflow: auto;
}

hr {
  border: 0;
  border-top: 1px solid $grayish-yellow;
  margin-bottom: 20px;
  margin-top: 20px;
}

#error-explanation {
  color: $warning;
}

.small {
  font-size: $font-size-tiny;
  font-style: italic;
}

li {
  list-style-type: none;
}

.label-info {
  position: relative;
  top: 12px;
}
