<div class='panel-body'>
  <%= form_tag('test_packages/show', method: 'get') do %>
    <%= label_tag(:package_id, 'Package ID:') %>
    <%= text_field_tag(:package_id) %>
    <%= submit_tag('Fetch data') %>
  <% end %>
</div>
