.div-table {
  display: table;
  padding: 10px;
  width: 100%;
}

.div-table-column {
  display: table-column;
  width: 50px;
}

.div-table-row {
  display: table-row;
}

.div-table-heading {
  background-color: $sul-footer-bg-color;
  display: table-header-group;
  font-weight: bold;
}

.div-table-cell,
.div-table-head {
  display: table-cell;
  padding: 3px 10px;
}

.div-table-body {
  display: table-row-group;
}

.table-hover tbody tr:hover td {
  background: $grayish-yellow;
  cursor: pointer;
}
