h1 {
  color: #2e2d29;
  font-size: 2.323em;
  font-weight: 300;
  line-height: 1.2em;
}
h2 {
  color: #544948;
  font-size: 1.793em;
  font-weight: 400;
  line-height: 1.2em;
}

label.form-control-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-weight: normal;
}
label.col-sm-4.form-control-label {
  text-align: right;
}
form#new_ssds_request {
  margin-top: 2em;
}
h2 span {
  font-weight: 300;
}

#topnav-container #topnav {
  padding: 5px 0;
}
