<div id="show-queue-menu" class="panel-body">
  <li><%= link_to "Show batches in queue that are not yet complete", 'show_batches_not_complete' %></li>
  <li><%= link_to "Show batches in queue that have been completed", 'show_batches_complete' %></li>
</div>
